{% extends 'layout.html' %}

{% block contenido %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="actualizar_producto" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Id producto</label>
      <input value= {{producto.id}} type="text" class="form-control" id="id" name="id"  readonly >
    </div>
    <div class="form-group col-md-6">
      <label for="descripcion">Descripción Producto</label>
      <input value= {{producto.descripcion}} type="text" class="form-control" id="descripcion" name="descripcion"  placeholder="Descripción Producto" >
    </div>
    <div class="form-group col-md-6">
      <label for="valor_unitario">Valor Unitario</label>
      <input value= {{producto.valor_unitario}} type="text" class="form-control" id="valor_unitario" name="valor_unitario" placeholder="Valor Unitario">
    </div>
    

  </div>
  
  <div class="form-group col-md-6">
    <label for="unidad_medida">Unidad de Medida</label>
    <select value= {{producto.unidad_medida}} id="unidad_medida" name="unidad_medida" class="form-control" >
        <option selected>{{producto.unidad_medida}}</option>
        <option value="GRS">GRS</option>
        <option value="UND">UND</option>
      <option>...</option>
    </select>
  </div>
  
  <div class="form-group col-md-6">
    <label for="cantida_stock">Cantidad Stock</label>
    <input value= {{producto.cantida_stock}} type="text" class="form-control" id="cantida_stock" name="cantida_stock" placeholder="Cantidad en Stock">
  </div>

  <div class="form-group col-md-6">
    <label for="categoria">Categoria</label>
    <select id="categoria" name="categoria" class="form-control">
      <option selected>Seleccione...</option>
      {% for categoria in categoria %}
        <option {% if categoria.id == producto.categoria %} selected {% endif %} value={{categoria.id}}>{{categoria.categoria}}</option>
      {% endfor %}
    <option>...</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock contenido %}