{% extends 'layout.html' %}

{% block contenido %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<form method="GET" action="{{ url_for('ver_productos') }}" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            name="buscar"
            class="form-control"
            placeholder="Buscar por descripción..."
            value="{{ request.args.get('buscar', '') }}"
        >

        <button class="btn btn-primary" type="submit">
            Buscar
        </button>

        <a href="{{ url_for('ver_productos') }}" class="btn btn-secondary">
            Limpiar
        </a>
    </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Descripción</th>
      <th scope="col">Valor Unitario</th>      
      <th scope="col">Unidad Medida</th>   
      <th scope="col">Cantidad en Stock</th>      
      <th scope="col">Categoria</th>
      <th scope="col">Total$</th>
      <th scope="col">Activo</th>
      <th scope="col">Acciones</th>
      <!-- <th scope="col">Comprar</th> -->
      
      
    </tr>
  </thead>
  <tbody>
      {% for producto, categoria in productos %}
        <tr>
          <td>{{ producto.id }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.valor_unitario }}</td>
          <td>{{ producto.unidad_medida }}</td>
          <td>{{ producto.cantida_stock }}</td>
          <td>{{ categoria }}</td>
          <td class="numero">{{ producto.valor_unitario * producto.cantida_stock }}</td>
          <td>{{ producto.activo }}</td>
          <td> 
            <a href="{{ url_for('eliminar_producto', id=producto.id) }}"
              class="btn btn-danger"
              onclick="return confirm('¿Estás seguro de eliminar este producto?');">
              Eliminar
            </a>
            <a class="btn btn-success" href="/actualizar_producto/{{producto.id}}">Editar</a>
        </tr>
      {% endfor %}
     
  </tbody>
  
      
</table>

          
<p>Total $: <span id="resultado">0</span></p>
<button onclick="sumarTD()">Sumar TD</button>





<script>
function sumarTD() {
  let celdas = document.querySelectorAll(".numero");
  let total = 0;

  celdas.forEach(td => {
    total += Number(td.textContent);
  });

  document.getElementById("resultado").textContent = total;
}
</script>
      
 

{% endblock contenido %}    
     
     
