{% extends 'layout.html' %}

{% block contenido %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Categoria</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      {% for categoria in categorias %}
        <tr>
          <th scope="row">{{categoria.id}}</th>
          <td>{{categoria.categoria}}</td> 
          <td>
            <a class="btn btn-danger d-flex justify-content-center align-items-center" href="/eliminar_categorias/{{categoria.id}}" style="width:80px; height:30px; font-size:12px; padding:2px 8px;">
              Eliminar
            </a>
            <a class="btn btn-success d-flex justify-content-center align-items-center" href="/actualizar_categoria/{{categoria.id}}" style="width:80px; height:30px; font-size:12px; padding:2px 8px;">
              Editar
            </a>
          </td>   
        </tr>
      {% endfor %}    
      
  </tbody>
</table>
{% endblock contenido %}   